.Body_3{
    width:100%;
    min-height:100vh;
    background-color:    #141424 ;
}
.iconContainer_task{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.Navbar{
    width: 100%;
    height: 75px;
    padding: 10px;
    position: fixed;
    background-color:   #21263c ;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    z-index: 99;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.white{
    color: white;
}
.nameNavbar{
    color: white;
    min-width: 150px;
    height: 100%;
    border-left: 2px solid  #0463a2 ;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    cursor: pointer;
    transition: 1s;
}
.nameNavbar:hover{
    opacity: 0.7;
}
.nameContainer{
    display: flex;
    flex-direction: row;
}

.iconContainer_2{
    width: 60px;
    height: 60px;
    box-shadow: 5px 5px 10px rgba(71, 71, 71, 0.4);
    background-color: #0463a2 ;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}
.textIcon_2{
    font-size: 50px;
    font-weight: 700;
    color: white;
    font-style: italic;
    position: relative;
    bottom: 4px;
}

/* DROP DOWN */

/* ---------------------------------------------------
    DROPDOWN USER
  ----------------------------------------------------- */

  #dropdown-user .dropdown-menu {
    max-height: 300px !important;
    overflow-y: auto !important;
    overflow-x: hidden !important;
    min-width: 230px !important;
  }
  
  #dropdown-user .dropdown-menu[data-bs-popper] {
    margin-top: 2rem !important;
  }
  
  #dropdown-user .list-group-item-action,
  .list-group-item-action {
    z-index: 1;
    color: var(--color-black-);
    text-decoration: none;
    background-color: var(--color-white-);
  }
  
  #dropdown-user .list-group-item-action:focus,
  .list-group-item-action:hover {
    z-index: 1;
    color: var(--color-black-) !important;
    text-decoration: none;
    background-color: var(--color-secondary-gray-) !important;
  }

/* KANBAN */

.BodyKanban{
    width: 100%;
    min-height: 100vh;
    background-color: transparent;
    padding: 30px;
    padding-top:100px ;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.titleKanban{
    color: white;
    max-width: 500px;
    text-align: center;
    font-size: 18px;
}
.AppendKanbaContainer{
    width: 100%;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.KanbaContainer{
    width: 100% !important;
    max-width: 1400px !important;
    min-height:590px !important;
    background-color: #21263c !important;
    border-radius: 20px !important;
    padding: 20px !important;
    display: flex !important;
    align-items: center !important;
    display: flex !important;
    flex-direction: row !important;
    box-shadow: 5px 5px 10px rgba(71, 71, 71, 0.4) !important;
}

.KanbaContainer_2{
    width: 100% !important;
    overflow-x: auto !important;
    max-width: 1400px !important;
    min-height:590px !important;
    background-color: #21263c !important;
    border-radius: 20px !important;
    display: flex !important;
    align-items: center !important;
    display: flex !important;
    flex-direction: row !important;
    
}

.KanbaButtonContainer{
    width: 100%;
    min-height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ButtonElement_kanba{
    width: 130px;
    height: 40px;
    background-color: transparent;
    border: 1px solid #0463a2;
    border-radius: 20px;
    transition: 1s;
    display: flex;
    position: relative;
    bottom: 10px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}

.ButtonElement_kanba:hover{
    border: 2px solid #0463a2;
    box-shadow: 5px 5px 10px rgba(166, 166, 166, 0.4);
}

.Board{
    min-width: 300px;
    width: 30%;
    height: 530px;
    background-color:  #141424;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 10px rgba(14, 14, 14, 0.4);
}

.nameTableContainer{
    width: 100%;
    height: 40px;
    border-bottom:2px solid #0463a2;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    justify-content: space-between;
}

.nameTableContainer_2{
    width: 100%;
    height: 40px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    justify-content: space-between;
}
.gray{
    color: rgb(209, 208, 208);
}
.icon_1{
    background-color: #0463a2;
    width: 25px;
    cursor: pointer;
    height: 25px;
    bottom: 5px;
    border-radius: 30px;
    margin-right:5px;
    position: relative;
    bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s;
}
.circle-blue{
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: rgb(236, 81, 81);
}
.border-red{
    border:1px solid rgb(236, 81, 81) !important;
}
.border-green{
    border:1px solid rgb(81, 236, 94) !important;
}
.bg-green{
    background-color: rgb(81, 236, 94) !important;
}
.icon{
    background-color: #0463a2;
    width: 30px;
    cursor: pointer;
    height: 30px;
    border-radius: 30px;
    margin-right:5px;
    position: relative;
    left: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s;
}
.iconsContainer{
    display: flex;
    flex-direction: row;
    width:  120px;
    height: 100%;
}
.iconsContainer_1{
    display: flex;
    width:  40px;
    height: 100%;
}
.ClienteContainer{
    width: 100%;
    max-width: 270px;
    padding: 5px;
    min-height: 40px;
    word-wrap: break-word;
}
.descripcionContainer{
    width: 100%;
    min-height: 80px;
    padding: 5px;
    font-size: 10px;
    text-align: justify;
}
.icon_1:hover{
    box-shadow: 5px 5px 10px rgba(107, 107, 107, 0.4);
    background-color: #087fce;
}
.icon:hover{
    box-shadow: 5px 5px 10px rgba(107, 107, 107, 0.4);
    background-color: #087fce;
}
.contentTableContainer{
    width: 100%;
    height: 40px;
    margin-top: 20px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: rgb(177, 177, 177);
}
.itemsContainer{
    width: 100%;
    padding: 10px;
    height: 420px;
    overflow-y: auto;
}
.content{
    font-size: 14px;
}

/* CARD */

.Card{
    width: 100%;
    min-height: 130px;
    border-radius: 10px;
    margin-bottom: 10px;
    border: 1px solid white;
    background-color:  #363850;
    cursor: pointer;
    transition: 1s;
    box-shadow: 5px 5px 10px rgba(67, 65, 65, 0.2);
}
